*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    background-color: #171c28;
    color: #f1f1f8;
}
.container{
    max-width:1100px;
    padding:0 30px;
    margin:0 auto;
}
.header
{
    height:280px;
}
.header .container
{
    display: flex;
    flex-direction:column;
    justify-content: center;
   align-items: left;
   height: 100%;
    
}
.n1{
    font-size: 2rem;
}

.n2{
    margin-top: 20px;
    font-size:2rem;
    max-width:400px;
}

.section1
{
    height:75px;   
    margin-bottom: 40px; 
}
.section1 p{
    font-size: 20px;
    font-weight: 600px;
}
.section1 a{
    text-decoration: none;
    color: #f1f1f8;
    border-bottom: 3px solid #007BFF;
}
.section1 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
} 
.section2{
    height:200px;
    margin-bottom: 20px;
} 
.s21{
    margin-top:10px;
    font-size: 25px;
    color:#007BFF;
}
.s22{
    margin-top:20px;
    height:100%;
    color: #AFAFBF;
    width: 100%;
}
.section2 .container{
    display: flex;
    flex-direction:column;
    justify-content: center;
     align-items: center;
     height: 100%;
    background-color: blue;
} 
.section3{
    height:250px;
    margin-bottom: 20px;
}
.section3 .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
} 
.section3 .w2{
    color: #f1f1f8;
    font-size: 20px;

}
.s31{
    font-size: 25px;
    color:#007BFF;
}
.s32{
    font-size: 18px;
    color: #AFAFBF;
}
.btn{
    width:45px;
    padding:5px;
    border: 1px solid #007bff;
    color:#007bff;
    background-color: #171c28;;
}
.section4{
    height:200px;
    margin-bottom: 40px;
}
.s41{
    font-size: 20px;
    color:#007BFF;
}
.section4 .container
{
    display: flex;
    justify-content: space-evenly;
   align-items:center;
   height: 100%;
}
.section4 ul .l1
{
    list-style: none;
    font-size: 15px;
    padding: 5px;
    color: #f1f1f8;
}
.section5{
    height:200px;
    font-size: 18px;
    margin-bottom: 40px;
    
}
.s51{
    color:#007BFF;
    font-size: 25px;
}
.section5 .container
{
    display: flex;
    justify-content: space-evenly;
   align-items:center;
   height: 100%; 
   color: #AFAFBF;
}
.section5 .w1{
    color: #f1f1f8;
    font-size: 20px;
}

footer .container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
footer{
    height:50px;  
    font-weight:bold;
    margin-bottom: 40px;
}
@media(max-width:700px)
{
    .section2 .container {
        flex-direction: column;
        margin:10px;
        padding:10px;
        text-align: center;
        
      }
      .section3 .container {
        flex-direction: column;
        margin:10px;

        padding:10px;
        text-align: center;
        
      }
      .section4 .container {
        flex-direction: column;
        margin:10px;
        padding:10px;
        text-align: center;
        
      }
      .section5 .container {
        flex-direction: column;
        margin:10px;
        padding:10px;
        text-align: center;
        
      }
      .footer{
        padding:30px;
        text-align: center;
    }
      
}

   
